{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.favourite_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.favourite_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="w-100 text-center justify-content-center">
            <a class="btn btn-success btn-block w-25" href="{{ url('element_create') }}" title="{{ 'action_create'|trans }}">
                {{ 'action_create'|trans }}
            </a>
        </div>
        {%  endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'element.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'element.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'element.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'element.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th colspan="
                {% if is_granted('ROLE_ADMIN') %}
                4
                {%  else %}
                2
                {% endif %}
                ">{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for element in pagination.items %}
                <tr>
                    <td>{{ element.id }}</td>
                    <td>{{ element.createdAt|format_date('long') }}</td>
                    <td>{{ element.updatedAt|format_date('long') }}</td>
                    <td>{{ element.title }}</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{ url('element_index', {'filters.category_id' : element.category.id}) }}" title="{{ element.category.title }}">
                            {{ element.category.title }}
                    </td>
                    <td>
                        {% if element.tags is defined and element.tags|length %}
                            {% for tag in element.tags %}
                                <a class="btn btn-outline-primary btn-sm" href="{{ url('element_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url('element_show', {id: element.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a class="btn btn-info" href="{{ url('element_edit', {id: element.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{{ url('element_delete', {id: element.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        </td>
                    {%  endif %}
                    <td>
                        {% if app.user in element.favourited%}
                            <a class="btn btn-secondary" href="{{ url('element_delete_favourite', {id: element.id}) }}" title="{{ 'action.delete_favourite'|trans }}">
                                {{ 'action.delete_favourite'|trans }}
                            </a>
                        {% else %}
                            <a class="btn btn-warning" href="{{ url('element_add_favourite', {id: element.id}) }}" title="{{ 'action.add_favourite'|trans }}">
                                {{ 'action.add_favourite'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}