{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.element_details'|trans({'%id%': element.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.element_details'|trans({'%id%': element.id|default('')}) }}</h1>
    {% if element is defined and element|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ element.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ element.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  element.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  element.category.title }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
            <dd>
                {% for tag in element.tags%}
                    <span class="border border-dark"> {{ tag.title }} </span>
                {% endfor %}
            </dd>
        </dl>
        <h2>{{ 'label_comments'|trans }}</h2>
            {% for comment in comments%}
                {% if comment.element.id == element.id %}
                    <div class="comment">
                        <p>
                            <span style="font-weight: bold"> {{ comment.user.email }} </span>
                            <span class="text-secondary"> {{ comment.createdAt|format_date('long') }}</span>
                        </p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p class="delete">
                                <a class="text-danger" href="{{ url('comment_delete', {id: comment.id, element: comment.element.id}) }}" title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            </p>
                        {% endif %}
                    {{ comment.content|markdown_to_html }}
                    </div>
                {% endif %}
            {% endfor %}
        <p>
            <a class="btn btn-success" href="{{ url('comment_create', {id: element.id}) }}" title="{{ 'action.add_comment'|trans }}">
                {{ 'action.add_comment'|trans }}
            </a>
        </p>

        <p>
            <a class="btn btn-outline-secondary" href="{{ url('element_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}